.profile-picture {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.artist-name {
	color: white;
}

h1 {
	color: white;
}

.container {
	column-count: 4;
	column-gap: 10px;
}

.artist-profile {
	text-align: left;
}

a {
	text-decoration: none;
}